
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <img src="/images/StayPortal.png" alt="StayPortal Logo" class="me-2 logo-image">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse bg-sm-light bg-white collapse" id="navbarNav">
      <form class="d-flex ms-auto" role="search" action="/listings/search" method="GET">
        <input class="form-control w-auto me-2" type="search" name="country" placeholder="Search for a country" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add your listing</a>
        </li>
        <% if(!currentUser) {%>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Log In</b></a>
          </li>
          <% } %>
          <% if(currentUser) {%>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><b>Log Out</b></a>
            </li>
          <% } %>
      </ul>
    </div>
  </div>
</nav>