<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-sm-10 offset-sm-1 d-flex align-items-center">
        <a class="navbar-brand" href="/">
          <img src="../../images/StayHub-logo.png" alt="StayHub Logo" class="img-fluid logo-image">
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/listings">All listings</a>
            <a class="nav-link" href="/listings/new">Add new listings</a>
            <a class="nav-link" href="">Contact</a>
          </div>
          <div class="navbar-nav">
            <% if(!currentUser) {%>
              <a class="nav-link" href="/signup">Sign Up</a>
              <a class="nav-link" href="/login">Log In</a>
              <% } %>
                <% if(currentUser) {%>
                  <a class="nav-link" href="/logout">Log Out</a>
                  <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>