<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-10 offset-1">
                <h3 class="text-center">Create a New Listing</h3>
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" id="title" name="listing[title]" placeholder="Add a catchy title"
                            class="form-control" required>
                        <div class="valid-feedback">Looks good.</div>
                        <div class="invalid-feedback">Plese enter the title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter little description" required></textarea>
                        <div class="invalid-feedback">Plese enter the little description</div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload your image:</label>
                        <input type="file" id="image" name="listing[image]" placeholder="Enter the image link/url"
                            class="form-control" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" id="price" name="listing[price]" placeholder="Enter the price"
                                class="form-control" required>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location:</label>
                            <input type="text" id="location" name="listing[location]" placeholder="Enter location"
                                class="form-control" required>
                            <div class="invalid-feedback">Location should be valid</div>
                        </div><br>
                    </div>
                    
                    <div class="mb-4">
                        <label for="country" class="form-label fw-medium">Country</label>
                        <select class="form-select border-shadow-green" id="country" aria-label="Floating label select example" name="listing[country]" required>
                          <option value="India">India</option>
                          <option value="United States">United States</option>
                          <option value="France">France</option>
                          <option value="Italy">Italy</option>
                          <option value="Spain">Spain</option>
                          <option value="Japan">Japan</option>
                          <option value="Thailand">Thailand</option>
                          <option value="United Kingdom">United Kingdom</option>
                          <option value="Australia">Australia</option>
                          <option value="Greece">Greece</option>
                          <option value="United Arab Emirates">United Arab Emirates</option>
                          <option value="Germany">Germany</option>
                          <option value="Switzerland">Switzerland</option>
                          <option value="Canada">Canada</option>
                          <option value="China">China</option>
                          <option value="Brazil">Brazil</option>
                          <option value="Mexico">Mexico</option>
                          <option value="Egypt">Egypt</option>
                          <option value="Turkey">Turkey</option>
                          <option value="Indonesia">Indonesia</option>
                          <option value="New Zealand">New Zealand</option>
                          <option value="Portugal">Portugal</option>
                          <option value="Netherlands">Netherlands</option>
                          <option value="Malaysia">Malaysia</option>
                          <option value="Philippines">Philippines</option>
                          <option value="Saudi Arabia">Saudi Arabia</option>
                          <option value="Singapore">Singapore</option>
                          <option value="South Korea">South Korea</option>
                          <option value="Austria">Austria</option>
                          <option value="Sweden">Sweden</option>
                          <option value="Norway">Norway</option>
                          <option value="Finland">Finland</option>
                          <option value="Iceland">Iceland</option>
                          <option value="South Africa">South Africa</option>
                          <option value="Argentina">Argentina</option>
                          <option value="Chile">Chile</option>
                          <option value="Vietnam">Vietnam</option>
                          <option value="Morocco">Morocco</option>
                          <option value="Israel">Israel</option>
                          <option value="Peru">Peru</option>
                          <option value="Denmark">Denmark</option>
                          <option value="Czech Republic">Czech Republic</option>
                          <option value="Poland">Poland</option>
                          <option value="Belgium">Belgium</option>
                          <option value="Ireland">Ireland</option>
                          <option value="Hungary">Hungary</option>
                          <option value="Russia">Russia</option>
                          <option value="South Korea">South Korea</option>
                          <option value="Colombia">Colombia</option>
                          <option value="Costa Rica">Costa Rica</option>
                        </select>
                      </div>


                    <button type="submit" class="btn btn-outline-success">Add</button><br><br>
                </form>
            </div>
        </div>
    </body>