<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-md-6 offset-md-3 mt-3">
        <h2 class="text-center">Login with StayHub</h2>
        <form method="POST" action="/login" novalidate class="needs-validation">
            <div class="mb-3 mt-4">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter the user name"
                    class="form-control" required>
                <div class="invalid-feedback">Enter username</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter the password"
                    class="form-control" required>
                <div class="invalid-feedback">Enter password</div>
            </div>
            <button class="btn btn-outline-success">Log In</button>
        </form>
    </div>
</div>